.faulty-terminal-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.faulty-terminal-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  will-change: transform;
  backface-visibility: hidden;
}